<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>
    Dashboard - {% block title %}{% endblock %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}
  
  {% endblock stylesheets %}
</head>

<body class="">
  <div class="wrapper ">

    {% include 'includes/sidebar.html' %}

    <div class="main-panel">

      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          {% block content %}
          
          {% endblock content %}
        </div>
      </div>

    </div>
  </div>

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}
  
  {% endblock javascripts %}

</body>

</html>