Babel
blinker
dnspython
email-validator
Flask
Flask-Login
Flask-Mail
Flask-Principal
Flask-Security-Too
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
passlib
PyMySQL
python-dotenv
pytz
speaklater
typing-extensions
Werkzeug
WTForms
zipp
