<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Log In </title>
        <link rel="stylesheet" href="/static/css/login_user.css">
    </head>
    <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
        <section>
            <div class="box"> 
                <div class="container">
                    <div class="logo">
                        <img src="/static/images/user.png">
                        <form action="{{ url_for_security('register') }}" method="POST">                       
                        {{ register_user_form.hidden_tag() }}
                        {{ register_user_form.username(placeholder=' Full Name e.g: John Smith ') }}
                        {{ register_user_form.email(placeholder=' Email e.g: john@example.com ') }}
                        {{ register_user_form.password(placeholder='Password * atleast 6 characters') }}
                        {{ register_user_form.password_confirm(placeholder=' Re-type Password ') }}
                        {{ register_user_form.submit }} 
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>